.circle {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  @include size(180px, 180px);
  @include border(1px, var(--white), 50%);
  @media screen and (max-width: 410px) {
    bottom: 30px;
  }
  &__wrapper {
    position: absolute;
    @include size(180px, 180px);
    @include flex;
    // animation: rotator 7s linear infinite;
  }
  --white: #fff;
  transition: transform 0.35s ease-in-out;

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    color: var(--white);
    font-size: 24px;
    background-color: var(--primary-color);
    @include size(80px, 80px);
    border-radius: 50%;
    @include flex;
    svg {
      color: #fff;
    }
    i {
      transition: 0.25s;
    }
  }
  &__text {
    position: absolute;
    top: 10.5px;
    transform: translateY(-50%);
    @include flex;
    p {
      position: absolute;
      display: inline-block;
      color: var(--white);
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "Mulish", sans-serif;
    }
  }
  &__inner{
    position: relative;
  }
}
@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
