.details-wrapper {
    width: 50%;
    @media screen and (max-width: 630px) {
      width: 100%;
    }
  }
  .details-title {
    /* Heading 3 → Experience */
    color: var(--text-color);
    font-family: "Syne",sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
  }
  .details-item {
    display: flex;
    padding: 24px 0 20px;
    border-top: 2px solid rgb(221, 221, 221);
    &:hover{
      border-color: var(--primary-color);
    }
    @media screen and (max-width: 860px) {
      flex-direction: column;
    }
    @media screen and (max-width: 630px) {
      flex-direction: row;
    }
    @media screen and (max-width: 450px) {
      flex-direction: column;
    }
  }
  .details-time {
    width: 150px;
    color: var(--primary-color);
    font-family: "Mulish",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    @media screen and (max-width: 960px) {
      width: 120px;
    }
  }
  .details-data {
    h3 {
      color: var(--text-color);
      font-family: "Syne",sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0%;
      text-align: left;
      margin-bottom: 10px;
    }
    p {
      color: var(--text-color);
      font-family: "Mulish",sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  