.admin-layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--bg-color-2);

  main {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    padding: 0;
    padding-top: 50px;
    transition:all 0.3s ease;
  }
  .admin-content {
    width: 100%;
  }
}

.admin-container {
  padding: 30px;
  height: 100%;
}
